/* Centre your whole page, using 65% as your width. */
.content {
  max-width: 65%;
  margin: auto;
}
/* Make your unordered list have no bullets, and change there display to inline-block and no padding . */
/* Set the background colour of your navigation to “orangered”, and give it 3px padding. */
ul {
    list-style: none;
    padding: 0px;
   
}
li {

    display: inline-block;
    padding: 3px;
    
}
nav.navigation {
    background-color: orangered;

}
/* When links on the page are hovered over, the text should change to white. */

a:hover {
color: white;
}
/* All links should have no text-decoration and be black. (hent : see text-decoration ) */
a {
   
    text-decoration: none;
    color: black;

}
nav {
    padding: 3px;
}
img{
    object-fit: fill;
    padding: 0px;
    width: 100%;
    height: 50%;
  
}
.headerImg {
  object-fit:fill;
  height: 200px;
  width:100%;
}

div.categories
{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
   

}
div.subCat
{
    /* display:flex;
    flex-direction:column; */
    border: 3px solid lightgray;
   width: 33%;


}
button {
    background-color:  orangered;
    border: 5px solid black;
    border-radius: 5px;
    width: 50px;
    height: 30px;
 
    align-content: center;
    float: right;
    margin-bottom: 1px;
    margin-right: 1px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}